In [27]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.impute import SimpleImputer
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [28]:
data = pd.read_csv('yt.csv')
data.head()

    likes  dislikes  comment_count     views
0   33966       798            882   1096327
1  829362     61195         101117  35885754
2    7861        68            364    249423
3   12397       449            385    696515
4    3931       390            640    269593

In [29]:
data.describe()

              likes      dislikes  comment_count         views
count  3.735200e+04  3.735200e+04    37352.00000  3.735200e+04
mean   2.708272e+04  1.665082e+03     2676.99743  1.060478e+06
std    9.714510e+04  1.607617e+04    14868.31713  3.184932e+06
min    0.000000e+00  0.000000e+00        0.00000  4.024000e+03
25%    8.640000e+02  1.080000e+02       81.00000  1.239155e+05
50%    3.069000e+03  3.260000e+02      329.00000  3.045860e+05
75%    1.377425e+04  1.019250e+03     1285.00000  7.992912e+05
max    2.912710e+06  1.545017e+06   827755.00000  1.254322e+08

In [30]:
X = data[['likes', 'dislikes','comment_count']]
y = data[['views']]

In [31]:
my_imputer = SimpleImputer()
X = my_imputer.fit_transform(X)
y = my_imputer.fit_transform(y)

In [32]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [33]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [34]:
y_pred = model.predict(X_test)

In [35]:
model.score(X_test,y_test)

0.722860699083564

In [36]:
df = pd.DataFrame({'Actual': y_test.flatten(), 'Predicted': y_pred.flatten()})
df

         Actual     Predicted
0       44179.0  3.118596e+05
1      323141.0  3.775169e+05
2      197660.0  3.316584e+05
3      300062.0  3.933153e+05
4      399112.0  3.648386e+05
...         ...           ...
7466   251040.0  3.890593e+05
7467   132320.0  3.289444e+05
7468   256408.0  3.551813e+05
7469   230837.0  5.608809e+05
7470  2035734.0  1.623906e+06

[7471 rows x 2 columns]